{% extends 'ag_base/backend.html.twig' %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'issues_create'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    Create Issues
                </h1>
            </section>

            <!-- Main content -->
            <section class="content">

                {% include 'ag_alerts.html.twig' %}

                <div class="row">
	                {{ form_start(form, {'method': 'POST'}) }}
                    <div class="col-md-6">

                        
                            {{ form_errors(form) }}

                            <div class="box box-info">
                                <div class="box-header">
                                    <h3 class="box-title"></h3>
                                </div><!-- /.box-header -->
                                <div class="box-body">
									<input type="hidden" name="project_id" value="{{project_id}}" />              
									<div class='form-group' style="display:none">
									    {{ form_label(form.issue_id) }}
									    {{ form_widget(form.issue_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group' style="display:none">
									    {{ form_label(form.project_id) }}
									    {{ form_widget(form.project_id, { attr: { 'class': 'form-control' }}) }}
									</div>
									
									<div class='form-group'>
									    {{ form_label(form.issue_type) }}
									    {{ form_widget(form.issue_type, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.issue_priority) }}
									    {{ form_widget(form.issue_priority, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group' style="display:none">
									    {{ form_label(form.issue_status) }}
									    {{ form_widget(form.issue_status, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.user_id) }}
									    {{ form_widget(form.user_id, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.issue_title) }}
									    {{ form_widget(form.issue_title, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group'>
									    {{ form_label(form.issue_desc) }}
									    {{ form_widget(form.issue_desc, { attr: { 'class': 'form-control textarea', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;' }}) }}
									</div>

									<div class='form-group' style="display:none">
									    {{ form_label(form.issue_reporter) }}
									    {{ form_widget(form.issue_reporter, { attr: { 'class': 'form-control' }}) }}
									</div>

									

									<div class='form-group' style="display:none">
									    {{ form_label(form.created_at) }}
									    {{ form_widget(form.created_at, { attr: { 'class': 'form-control' }}) }}
									</div>

									<div class='form-group' style="display:none">
									    {{ form_label(form.updated_at) }}
									    {{ form_widget(form.updated_at, { attr: { 'class': 'form-control' }}) }}
									</div>

                                    

                                </div><!-- /.box-body -->
									
                                

                                <div class="box-footer">
                                    <button type="submit" class="btn btn-primary">Create</button>
                                </div>

                            </div><!-- /.box -->
                        
                    </div>
                    
                    <div class="col-md-6">
                    	<div class="box box-info">
                            <div class="box-header">
                                <h3 class="box-title">Upload Attachment</h3>
                            </div><!-- /.box-header -->
                            <div class="box-body">
								
                            	<div class='form-group'>
									{{ form_label(form.upload_file1) }}
									{{ form_widget(form.upload_file1, { attr: { 'class': 'form-control' }}) }}
								</div>
								<div class='form-group'>
									{{ form_label(form.upload_file2) }}
									{{ form_widget(form.upload_file2, { attr: { 'class': 'form-control' }}) }}
								</div>
								<div class='form-group'>
									{{ form_label(form.upload_file3) }}
									{{ form_widget(form.upload_file3, { attr: { 'class': 'form-control' }}) }}
								</div>
                            	
                            </div>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
