{% extends 'ag_base/backend.html.twig' %}

{% block javascripts %}

    {{ parent() }}

    <!-- page script -->
    <script type="text/javascript">
        $(function() {
            $("#issues_list").dataTable({
				serverSide: true,
				ajax: 'issues/list?projectid={{project_id}}',
				columns: [
					{% for table_column in table_columns %}
					{ "data": "{{ table_column }}"},
                    {% endfor %}
					{
						"orderable": false,
						"data": null,
						"defaultContent": null,
					}
				],
				rowCallback: function( row, data ) {
					var actions = '';
					
					{% if sessions.type == "DEVELOPER" %}
					actions = '<a href="issues/status/done/' + data.{{primary_key}} + '?project={{project_id}}" class="btn btn-success btn-xs">DONE</a>'
					{% elseif sessions.type == "TESTER" %}
					actions = '<a href="issues/status/done/' + data.{{primary_key}} + '?project={{project_id}}" class="btn btn-success btn-xs">PASSED</a>&nbsp;<a href="issues/status/open/' + data.{{primary_key}} + '?project={{project_id}}" class="btn btn-warning btn-xs">OPEN</a> <a href="issues/edit/' + data.{{primary_key}} + '?project={{project_id}}" class="btn btn-primary btn-xs">EDIT</a>'
					{% else %}
					actions = '<a href="issues/edit/' + data.{{primary_key}} + '" class="btn btn-primary btn-xs">Edit</a> <a href="issues/delete/' + data.{{primary_key}} + '" onclick="return confirm_delete();" class="btn btn-danger btn-xs">Delete</a>';
					{% endif %}
					
					
					$('td:eq({{ table_columns|length }})', row).html( actions );
				}
			});
        });

        function confirm_delete(){
            if(!confirm("Are you sure? This action cannot be undone.")) { 
                return false;
            }
        }

    </script>
{% endblock %}

{% block container %}

    <div class="wrapper row-offcanvas row-offcanvas-left">

        {% include 'menu.html.twig' with {'option': 'issues_list'} %}

        <!-- Right side column. Contains the navbar and content of the page -->
        <aside class="right-side">                
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1 class="project">
                    {{ project.project_name }}
                </h1>
                <p>{{ project.project_description }}</p>
            </section>

            <!-- Main content -->
            <section class="content">

                <div class="row">
                    <div class="col-xs-12">

                        {% include 'ag_alerts.html.twig' %}

                        <div class="box">
                            <div class="box-header">
                                
                            </div><!-- /.box-header -->

                            <div class="box-body table-responsive">
                                
                                {% if sessions.type != "DEVELOPER" %}
                                <a class="btn btn-primary" href="{{ path('issues_create') }}?project={{project_id}}">Create new issues</a><br /><br />
                                {% endif %}
                                <table id="issues_list" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            {% for table_column in table_headers %}
                                            <th>{{ table_column }}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            {% for table_column in table_headers %}
                                            <th>{{ table_column }}</th>
                                            {% endfor %}
                                            <th>Actions</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div><!-- /.box-body -->
                        </div><!-- /.box -->
                    </div>
                </div>

            </section><!-- /.content -->
        </aside><!-- /.right-side -->
    </div><!-- ./wrapper -->

{% endblock %}
